A:link 	   { color: blue }   /* непосещенная связь */
A:visited { color: blue }  /* посещенная связь */
A:active  { color: blue } /* активная связь */
A:hover   { color: black }
A {text-decoration:none}

A.mainTitle:link{color: black;}
A.mainTitle:visited{color: black;}
A.mainTitle:active{color: black;}
A.mainTitle:hover{color: black;}

a img {
    border: none;
}